@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

@import "../../../node_modules/bootstrap/scss/mixins";

.how-to-adopt-img {
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    border-radius: 50%;
}
@include media-breakpoint-down(lg) {
    .how-to-adopt-img {
        height: 80vw;
        width: 80vw;
    }

}