@import "../../../node_modules/bootstrap/scss/bootstrap";

.form-control {
    transition: all .3s ease;
    border: none;
    border-radius: 0;
    border-bottom: solid;
    border-width: 1px;
}
.form-control:focus {
    border: none;
    border-bottom: solid;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.meet-our-cats {
    h1,p {
        margin: 50px;
    }
}
.filter-nav {
    background-color: transparent;
}

@include media-breakpoint-down(sm) { 
    .filter-nav-container {
        flex-direction: column;
    }
 }